@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/mixins';


$primary: #44aa00;

$font-family-sans-serif: "Lato", Roboto, Arial, sans-serif;
$headings-font-family: "Roboto Slab", $font-family-sans-serif;

@import 'node_modules/bootstrap/scss/variables';

$body-bg: $gray-100;
